{% extends "base.jinja2" %}
{% block title %}{{ title }}{% endblock %}

{% block nav %}
<a href="/">Home</a>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<pre style="font-family: inherit; white-space: pre-wrap;">{{ content }}</pre>
<p>This article was kindly written by {{ author }}.</p>
{% endblock %}