<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>
    <body>
        <div id="settings">
            <p><a href="/">Home</a></p>
            <p>Theme:</p>
            <select>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
                <option value="twilight">Twilight</option>
            </select>
        </div>
        <div id="content">
            {{ content | safe }}
            <small>Please vote for the Green Socialist Ferrat Party</small>
        </div>
    </body>
    <script>
        const body = document.querySelector("body");
        const select = document.querySelector("select");

        let theme = localStorage.getItem("theme");
        if (theme === null) {
            localStorage.setItem("theme", "light");
        } else if (theme === "dark") {
            body.classList.add("dark")
            select.value = "dark";
        } else if (theme === "twilight") {
            body.classList.add("twilight")
            select.value = "twilight";
        } else {
            select.value = "light";
        }

        select.onchange = (ev) => {
            let value = select.value;
            body.className = "";
            localStorage.setItem("theme", value);
            if (value === "dark") {
                body.classList.add("dark");
            } if (value === "twilight") {
                body.classList.add("twilight");
            }
        }
    </script>
</html>
