{% extends "base.jinja2" %}
{% block title %}Homepage{% endblock %}

{% block nav %}
<a href="/submit">Submit an article</a>
<a href="/login">Login</a>
{% endblock %}

{% block content %}
<p>Louis' high quality journalism of current events brought to you for just 4cc/month, or 2cc/issue!</p>
<p>Owned by the Less Debt Fund.</p>
<h2>Articles</h2>
    {% if posts %}
    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ 'articles/' + post['url_name'] }}">
                <h3>{{ post["title"][:100] }}</h3>
                <p>{{ post["content"][:100] + "..." }} —&nbsp; {{ post["author"][:30] }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>There are no posts. Come back later or make one yourself.</p>
    {% endif %}
{% endblock %}
